<!--<!doctype html>-->
<html lang="en" layout:decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Nouvelle vente</title>
</head>
<body>

<!--contenu principal de notre page -->
<main layout:fragment="content">
    <h2 th:hidden="${article.noArticle}">Nouvelle vente</h2>
    <h2 th:text="${article.nomArticle}"  th:if="${article.noArticle}"></h2>

    <img class="enchere-image" th:src="|/imagesArticles/${article.noArticle}|" th:if="${article.noArticle}">



    <!--Je gère un formulaire pour "mapper" mes champs de saisi à l'objet article en modèle-->
    <form th:action="@{/ventes}" method="post" th:object="${article}" enctype="multipart/form-data">

        <!-- Nom -->
        <div class="form-element" th:hidden="${article.noArticle}">
            <label>Nom</label>
            <input th:field="*{nomArticle}"  >
        </div>

        <!-- Description -->
        <div class="form-element"  >
            <label>Description</label>
            <textarea  th:field="*{description}"  th:text="${article.description}" th:if="${article.noArticle == null}"></textarea>
            <span th:text="${article.description}" th:field="*{description}" th:if="${article.noArticle}"></span>
        </div>


        <!-- Categorie -->
        <div class="form-element">
            <label>Catégorie</label>
            <select th:field="*{categorie}" th:hidden="${article.noArticle}">
                <option th:each="categorie : ${categories}" th:value="${categorie.noCategorie}" th:text="${categorie.libelle}"></option>
            </select>
            <span  th:text="${article.categorie.libelle}" th:if="${article.noArticle}"></span>
        </div>

        <!-- Photo -->
        <div class="form-element" th:hidden="${article.noArticle}">
            <label>Photo de l'article</label>
            <input type="file" th:field="*{image}" >
        </div>

        <!-- Meilleure offre -->
        <div class="form-element" th:if="${article.noArticle}">
            <label>Meilleure offre</label>
            <span  th:text="|${article.prixVente} pts par ${article.vendeur.pseudo}|" th:if="${article.noArticle}"></span>
        </div>

        <!-- Mise à Prix -->
        <div class="form-element">
            <label>Mise à Prix</label>
            <input type="number"  th:field="*{miseAPrix}" th:hidden="${article.noArticle}">
            <span  th:text="|${article.miseAPrix} points|" th:if="${article.noArticle}"></span>
        </div>

        <!-- Début enchère -->
        <div class="form-element"  th:hidden="${article.noArticle}">
            <label>Date début enchère</label>
            <input type="date"  th:field="*{dateDebutEncheres}" value="2025-05-01">
        </div>

        <!-- Fin enchère -->
        <div class="form-element">
            <label>Date fin enchère</label>
            <input type="date"  th:field="*{dateFinEncheres}"  th:hidden="${article.noArticle}">
            <span th:text="|${#temporals.format(article.dateFinEncheres, 'dd/MM/yyyy')} |" th:if="${article.noArticle}"></span>
        </div>

        <!-- Retrait -->
        <fieldset th:hidden="${article.noArticle}">
            <legend>Retrait</legend>

            <div class="form-element">
                <label>Rue</label>
                <input type="text" value="rue test" th:field="*{retrait.rue}">
            </div>

            <div class="form-element">
                <label>CodePostal</label>
                <input type="text" value="code Postal test" th:field="*{retrait.codePostal}">
            </div>

            <div class="form-element">
                <label>Ville</label>
                <input type="text"  value="ville test" th:field="*{retrait.ville}">
            </div>
        </fieldset>

        <div class="form-element" th:if="${article.noArticle}">
            <label>Retrait</label>
            <span th:text="|${article.retrait.rue}, ${article.retrait.codePostal} ${article.retrait.ville} |"></span>
        </div>

        <div class="form-element" th:if="${article.noArticle}">
            <label>Vendeur</label>
            <span th:text="${article.vendeur.pseudo}"></span>
        </div>
        <!-- on affiche le bouton de création que si l'article n'a pas d'id-->
        <div class="form-element"  th:hidden="${article.noArticle}">
            <button type="submit" >Valider</button>
        </div>
    </form>


    <!-- Encherir sur la vente -->
    <form th:action="@{|/ventes/${article.noArticle}/enchere|}" method="post" sec:authorize="isAuthenticated()">
        <div class="form-element" th:if="${article.noArticle}" >
            <label>Ma proposition</label>
            <input type="number" name="montantEnchere" th:min="${article.prixVente + 1}" th:value="${article.prixVente + 1}">
            <button type="submit" >Encherir</button>
        </div>
    </form>

</main>

</body>
</html>